@import '~react-table/react-table.css';

.rt-table {
  overflow: hidden !important;
}

.rt-th {
  overflow: visible !important;
}

.rt-td {
  white-space: pre-line !important;
  word-break: break-word;
}
